

#parte2Header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#blackFriday{
    border: 5px solid rgb(255, 145, 0);
    display: flex;
    height: 35px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    background-color:rgb(255, 145, 0);
    color:rgb(0, 0, 0)
}
#blackFriday img{
    width: 20px;
    filter: invert();
}


/* Utilizar cores de tom laranja, como a maioria dos sites estão. */