
body{
    background-color:  rgb(255, 255, 255) ; 
    height: 700px;
    margin: 0
}

header{
    background-color: rgb(245, 245, 245);
    margin: none
}

#parte2Header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#parte1Header{
    display: flex;
    height: 35px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    background-color:rgb(255, 144, 0);
    color:rgb(0, 0, 0)
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer{
    background-color: #333;
    height: 300px;
}

.footer1{
    justify-content: space-around;
    
}
.footer2{
    justify-content: space-between;
    border-top: 2px  rgb(255, 255, 255) solid;
    border-bottom: 2px  rgb(255, 255, 255) solid;
}
.footer1, .footer2 {
    display: flex;
}

/* Utilizar cores de tom laranja, como a maioria dos sites estão. */